@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 fw-bold ">Bubs Pizzaria</h1>
        <h2 class="mainSubTitle">Best pizzas in town! </h2>
    </div>
    <img class="mainImage align-content-center" src="~/images/PizzaTime.jpg"/>
    <br/>
    <a class="btn btn-secondary btn-lg btn-block mt-1" asp-area="" asp-page="Pizza">Get Your Pizza</a>
</div>
